<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/icon.png">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="div-main-content">
        {{>header}}
        <img class="img-portrait" src="/img/robot.png" alt="personal img">
    </div>
    {{>footer}}
</body>

</html>